body {
    margin: 0; 
    background-color: rgb(235, 233, 233);
}
#sidePanel {
    float: left;
    background-color: white;
    height: 850px;
    width: 19%;
    margin: 0;
    box-shadow: 9px 0px 8px -6px rgba(143,137,143,1);
    margin: 0;
}
#mainPanel {
    height: 750px;
    padding-top: 100px;
    width: 80%;
    margin: 0;
    float: right;
    background-color: rgb(235, 233, 233);
  }
  .dropdown {
    position: relative;
    display: inline-block;
    width: 80%;
  }

.dropdown-content {
    display: none;
    border-radius: 2.5px;
    background-color: #fffdfd;
    min-width: 160px;
    border: 1px solid black;
    transition: 2s ease-in;
    z-index: 1;
  }
  /* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  .btn {
    background-color: rgb(200, 50, 214); /* Blue background */
    box-shadow: 0px 5px 16px -6px rgba(205,125,209,1);
    margin-top: 15px;
    width: 80%;
    height: 50px;
    border-radius: 5px;
    text-align: left;
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
  }
  .btn1 {
    background-color: white; /* Blue background */
    margin-top: 18px;
    width: 90%;
    height: 50px;
    text-align: left;
    border-radius: 5px;
    border: none; /* Remove borders */
    color: #888888; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
  }
  
  /* Darker background on mouse-over */
  .btn1:hover {
    background-color: rgb(241, 241, 241);
  }
  .container1 {
    height: 70px;
    width: 80%;
    padding-top: 20px;
    font-size: 30PX;
    color: #888888;
    border-bottom: 1px solid #cfcfcf;
}
.dropdown-content {
    display: none;
    margin-left: 40px;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  .container2 {
      height: 100px;
      width: 45%;
      float: left;
      background-color: white;
      margin-left: 40px;
      border-radius: 5px;
      box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  }
  .container3 {
    height: 100px;
    width: 45%;
    margin-right: 40px;
    float: right;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.fa-plus {
    height: 30px;
    width: 30px;
    float: left;
    font-size: 30px;
    padding: 20px;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 10px;
    box-shadow: 0px 7px 9px -4px rgba(0,0,0,0.46);
    color: white;
    background-color: purple;
}
.text {
    float: right;
    font-size: 30px;
     font-family: "Yu Gothic UI";
     font-weight: bold;
     color: #383838;
     text-decoration: none;
     margin-right: 10px;
     margin-top: 10px;
}
.text a {
    color: #383838;
    text-decoration: none;
}
.text a:hover {
    cursor: pointer;
}
.container2 {
    height: 650px;
    width: 90%;
    border-radius: 5px;
    background-color: white;
    box-shadow: 1px 0px 19px 3px rgba(0,0,0,0.14);
}
* {box-sizing: border-box}

/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  background: #f1f1f1;
  outline: solid 0px purple;
  margin: 0.5em;
  border-radius: 2.5px;
  border: none;
  transition: outline 0.2s linear;
}
.container5 {
    height: 70px;
     background-color: rgb(200, 50, 214); /* Blue background */
    box-shadow: 0px 5px 16px -6px rgba(205,125,209,1);
    WIDTH: 98%;
    color: white;
    border-radius: 5px;
}
.container5 c {
    color: white;
    font-family: "Yu Gothic UI";
    font-size: 40px;
    font-weight: lighter;
}
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline-width: 3px;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  opacity: 0.9;
}

button:hover {
    background-color: rgb(200, 50, 214); /* Blue background */
  
}
.checkbox {
    float: left;
    font-size: 30px;
}

/* Float cancel and signup buttons and add an equal width */
 .savebtn {
  float: right;
  margin-right: 11px;
  border-radius: 2.5px;
  width: 48%;
  background-color: #d6d6d6;
}

/* Add padding to container elements */
.container4 {
  padding: 16px;
  width: 100%;
  float: left;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
b {
    color: #888888;
    float: left;
    margin-left: 5PX;
    font-size: 13px;
    font-family: "Yu Gothic UI";
}
c {
    color: #888888;
    margin-left: 5PX;
    font-size: 25px;
    font-family: "Yu Gothic UI";
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
   .savebtn, {
    width: 100%;
  }
}